# Folder
**/img/**
**/sbobine/**
**/tex2pdf*
**/mermaid-images*
.DS_Store
**/_/**
**/*_files

# File
*html
*.tex
*.doc
*.docx
*.mp3
*.mp4
*.odp
*.ods
*.odt
*.pdf
*.ppt
*.pptx
*.err

*.local
*lock*
*.aux

*.epub


